#menu-toggle {
    width: var(--width-void);  /* To test */
    height: var(--height-void);  /* To test */
    position: sticky;  /* To test */

    -webkit-user-select: none;
    user-select: none;
    /* TODO(JBR) unexpected side effect of main display... */
    margin-left: calc(var(--site-width-margin) * -1);
}

#menu-toggle label {
    display: inline-block;
    color: var(--color-main-light-high);
    cursor: pointer;
    background-color: var(--color-main-dark-high);
    padding: var(--height-void) 0;
    /*font-style: normal;*/
    /* TODO(JBR) Make it a little bit bigger */
    /* TODO(JBR) unexpected side effect of main display... */
    width: var(--site-width-margin);
}

#menu-toggle input {
    display: none;
}

#menu-toggle ul {
    display: none;  /* Default to hidden. */

    position: absolute;
    width: fit-content;
    margin: 0;  /* TODO(JBR) To test and use relatives if possible */
    padding: 0 var(--width-void);

    list-style-type: none;
    color: var(--color-main-light-high);
    background-color: var(--color-main-dark-high);

    /* The menu will come from left of the screen. */
    /* TODO(JBR) Transformation to test
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);*/
}

#menu-toggle input:checked ~ ul {
    display: block;  /* Shown when the checkbox is checked. */
    /*transform: none; /* End the animation (disabled at now). */
}

#menu-toggle ul li {
    padding: var(--height-void) 0;
    font-size: 18px;  /* TODO(JBR) To be relative. */
    text-align: left;
}
