html {
    height: 100%;
    /* Test from http://paletton.com/#uid=74e1-0kllll0UZGcqwIugarYl0s */
    --color-primary-0: #403075;	/* Main Primary color (blue) */
    --color-primary-1: #F7F6FC;
    --color-primary-2: #8374B1;
    --color-primary-3: #150939;
    --color-primary-4: #010002;

    --color-secondary-1-0: #28794C;	/* Main Secondary color (green) */
    --color-secondary-1-1: #F5FCF8;
    --color-secondary-1-2: #70B78F;
    --color-secondary-1-3: #033B1C;
    --color-secondary-1-4: #000201;

    --color-secondary-2-0: #AA5039;	/* Main Secondary color (red) */
    --color-secondary-2-1: #FFF9F8;
    --color-secondary-2-2: #FFB19C;
    --color-secondary-2-3: #531505;
    --color-secondary-2-4: #040100;

    --color-complement-0: #AA9739;	/* Main Complement color (yellow) */
    --color-complement-1: #FFFEF8;
    --color-complement-2: #FFEE9C;
    --color-complement-3: #534605;
    --color-complement-4: #040300;

    --fg-main: var(--color-primary-1);
    --bg-main: var(--color-primary-3);
    --bg-green: var(--color-secondary-1-3);
    --bg-yellow: var(--color-complement-3);
    --bg-red: var(--color-secondary-2-3);

    --width-void: 3vh;
    --height-void: 3vw;
}

body {
    height: 94vh;
    margin: 0;
    padding-top: var(--width-void);
    padding-bottom: var(--width-void);
    padding-left: var(--height-void);
    padding-right: var(--height-void);
    display: flex;
    flex-flow: column;
    background-color: var(--bg-main);
}

header, main, footer {
    margin: 0;
    padding-top: var(--width-void);
    padding-bottom: var(--width-void);
    padding-left: var(--height-void);
    padding-right: var(--height-void);
    background-color: var(--fg-main);
    color: var(--bg-main);
}

header {
    flex: 0;
    text-align: center;
}

main {
    flex: 1;
}

footer {
    flex: 0;
}

