/** Global setup. **/
html {
    height: 100%;
    font-family: arial, sans-serif;
    --color-main-dark-high: #00002F; /*;  /* Main theme */
    --color-main-dark-low: #030363;  /* for disabled */
    --color-main-light-high: #E6E6FE;  /* Main theme */
    /*--color-main-light-low: TODO(JBN) */  /* for disabled */
    --color-green-dark-high: #13590D; /* TODO(JBR) to test */  /* Successful actions */
    --color-green-light-high: #8CE16B; /* TODO(JBR) to test */  /* Successful actions */
    --color-red-dark-high: #8E2209; /* TODO(JBR) to test */  /* On error */
    --color-red-light-high: #F9E1CA; /* TODO(JBR) to test */  /* On error */

    --color-link-dark-default: #000;  /* TODO(JBR) to adjust */
    --color-link-dark-hover: var(--color-green-dark-high); /* TODO(JBR) to adjust */
    --color-link-light-default: #FFF;  /* TODO(JBR) to adjust */
    --color-link-light-hover: var(--color-green-light-high); /* TODO(JBR) to adjust */

    --width-void: 1vw;
    --height-void: 1vh;
    --site-width-margin: 3vw;
    --header-height: 4vh;
}

body {
    height: calc(100vh - calc(var(--height-void) * 2));
    margin: 0;
    padding-top: var(--height-void);
    padding-bottom: var(--height-void);
    padding-left: var(--width-void);
    padding-right: var(--width-void);
    display: flex;
    flex-flow: column;
    background-color: var(--color-main-dark-high);
}

header, main, footer {
    margin: 0;
    background-color: var(--color-main-light-high);
    color: var(--color-main-dark-high);
}

main, footer {
    margin: 0 var(--site-width-margin);
    padding-top: 0;
}

header {
    z-index: 100;
    position: fixed;
    flex: 0;
    text-align: center;
    height: var(--header-height);
    margin: 0 var(--site-width-margin);
    margin-top: -1.1vh;  /**<  It looks like a hack to reach our goal... */
}

main {
    flex: 1;
    margin-top: var(--header-height);
}

footer {
    flex: 0;
}

header h1 {
    display: inline-table;
    width: 93vw;
    margin-top: -1vh;
    padding: 1vh 0;
    height: 4vh;
    text-align: center;
    background: linear-gradient(110deg,
        var(--color-main-light-high) 0%,
        var(--color-main-light-high) 50.6%,
        var(--color-main-dark-high) 51.0%);
}
header h1 span.right {
    color: var(--color-main-light-high);
}

main div.nav {
    /* We'll use flexbox for the content of the main. */
    width: 25%;  /* TODO(JBR) Draft only. */
}
main div.body {
    width: 75%;  /* TODO(JBR) Draft only. */
    margin: auto;
}

main div.welcome-home {
    height: 100vh;
    background: linear-gradient(110deg,
        var(--color-main-light-high) 0%,
        var(--color-main-light-high) 49.8%,
        var(--color-main-dark-high) 50.2%);
    text-align: center;
}
main div.welcome-home div.left, main div.welcome-home div.right {
    width: 44vw;
    margin: 0;
    padding: 0;
    display: table-cell;
    height: 100vh;
    background-repeat: no-repeat;
}
main div.welcome-home div.left {
    background-image: url("/media/img/elfe-home.png");
    background-position: top;
}
main div.welcome-home div.right {
    background-image: url("/media/img/elfe-mirror-home.png");
    background-position: top;  /* To reproduce the expected effect. */
    color: var(--color-main-light-high);
}

/** Common links and buttons setup. **/
a.light {
    padding: 0 calc(var(--width-void)/2);
    color: var(--color-link-light-default);
    text-decoration: none;
    /* Button effect */
    background:
        linear-gradient(-135deg, var(--color-main-light-high) 45%, var(--color-main-light-high) 0 55%, var(--color-main-light-high) 0) right/400% 100% no-repeat,
        linear-gradient(-135deg, transparent 45%, var(--color-main-light-high) 0 55%, transparent 0) right/400% 100% no-repeat;

  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;

    transition: 1s;
}

a.light:hover {
    color: var(--color-link-light-hover);
    background-position: left;
}

a.light.button {
    border: 1px solid var(--color-link-light-hover);
    /* TODO(JBR) Adjust link design for buttons. */
}

a.dark.button {
    border: 1px solid var(--color-link-dark-hover);
}

a.dark {
    padding: 0 calc(var(--width-void)/2);
    color: var(--color-link-dark-default);
    text-decoration: none;
    /* Button effect - TODO(JBR) To adapt for dark buttons. */
    background:
        linear-gradient(-135deg, var(--color-main-dark-high) 45%, var(--color-main-dark-high) 0 55%, var(--color-main-dark-high) 0) right/400% 100% no-repeat,
        linear-gradient(-135deg, transparent 45%, var(--color-main-dark-high) 0 55%, transparent 0) right/400% 100% no-repeat;

  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;

    transition: 1s;
}

a.dark:hover {
    color: var(--color-link-dark-hover);
    background-position: left;
}
